body {
  font-family: sans-serif;
  background-color: #d7cdc0ff;
  background-image: linear-gradient(#d7cdc0ff, #fdf7f6ff);
  margin-right: 10%;
  margin-left: 10%;
  overflow-wrap: break-word;
}
.block {
  background-color: rgb(247, 243, 239);
  color: #000000;
  padding: 1em;
  padding-top: .1em;
  padding-bottom: .1em;
  border-radius: 2em;
}
img {
  max-width: 100%;
  height: auto;
}
.banner {
  text-align: center;
  font-weight: bold;
}
big {
  font-size: 400%;
}
small {
  font-size: 70%;
}
pre {
  background-color: rgb(247, 243, 239);
  border: 1px solid #c5bbb0;
  border-radius: 0.5em;
  padding: 1em;
  overflow-x: auto;
}
code {
  background-color: rgb(247, 243, 239);
  padding: 0.1em 0.3em;
  border-radius: 0.25em;
}
pre code {
  background-color: transparent;
  padding: 0;
}
div.feature-matrix {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0px auto;
  }
  td {
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
  }
  th {
    font-weight: bold;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
  }
  th,td {
    width: 15%;
    text-align: center;
    vertical-align: center;
  }
  th:first-child,td:first-child {
    width: 70%;
    text-align: left;
    vertical-align: center;
  }
}
@media screen and (max-width: 450px) {
  big {
    font-size: 300%;
  }
}
@media screen and (max-width: 767px) {
  body {
    margin-right: 3%;
    margin-left: 3%;
  }
  .tg {
    width: auto !important;
  }
  .tg col {
    width: auto !important;
  }
  .tg-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: auto 0px;
  }
}
