<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    {{- $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "main.scss" . | css.Sass }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  </head>
  <body>
    {{ partial "banner.html" . -}}

    {{ block "main" . }}
    {{ .Content }}
    {{ end }}
  </body>
{{- if .Store.Get "hasGraphviz" }}
  <script src="{{ relURL "js/viz-global.js" }}"> </script>
  <script type="text/javascript">
    let vizInstance
    window.addEventListener("DOMContentLoaded", async () => {
      [...document.querySelectorAll("pre[class=graphviz]")].forEach(async (x) => {
        if (!vizInstance) vizInstance = await Viz.instance()
        if (x.style.display === 'none') return
        const options = {
          format: "svg",
          graphAttributes: {
            bgcolor: "transparent",
          },
          engine: x.getAttribute("engine") || "dot",
        }
        const svg = vizInstance.renderString(x.innerText, options)
        const img = document.createElement('img')
        img.setAttribute(
          'src',
          `data:image/svg+xml;utf8,${encodeURIComponent(svg.substring(svg.indexOf('<svg')))}`
        )
        const alt = x.getAttribute("alt")
        if (alt) img.setAttribute("alt", alt)
        x.parentNode.insertBefore(img, x);
        x.style.display = 'none'
      })
    })
  </script>
{{- end }}
</html>
